<h1>Signup Form: </h1>

<%= form_for(@signup) do |f| %>
    Name: <%= f.collection_select :camper_id, Camper.all, :id, :name %><br><br>
    Activity: <%= f.collection_select :activity_id, Activity.all, :id, :name %><br><br>
    <%= f.label :time %><br>
    <%= f.number_field :time %><br>
    <br>
    <%= f.submit %>
<% end %>